*{
    margin:0;
}
body{
    min-width: 1020px;
}
/* Paleta de colores y fuentes */
:root{
    --color-white: #F2F2F2;
    --color-black: #0D0D0D;
    --color-yellow:#FFAF53;
    --color-orange-light:#E88554;
    --color-orange-dark: #E55D4A;
    --color-purple-light: #AB2F52;
    --color-purple-dark: #5E005E;
    --color-gray: #47525E;
    --color-green:#0DCB8F;
    --font-title:'Knewave', cursive;
    --font-words: 'Lato', sans-serif;
}
@font-face{
    font-family: sensei;
    src: url(../font/Sensei-Medium.otf);
  }
/* .oculto{
    display: none !important;
} */
/* Login y splash sin header */
.withoutHeader{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* min-width: 900px;
    min-height: 400px; */
}
    /* splash */
.splash{
    background: var(--color-orange-dark);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.splash .loader{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
    background: var(--color-yellow);
    border: 13px solid var(--color-orange-dark);
    border-top: 13px solid var(--color-orange-light);
    border-bottom: 13px solid var(--color-orange-light);
    border-right: 13px solid var(--color-orange-light);
    animation: spin 2s linear infinite;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
.splash h1{
    font-size: 40px;
    font-family: var(--font-title);
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3 ;
    z-index: 1;
    color: var(--color-purple-light);
}
    /* Login */
.login div:nth-child(1){
    width: 40%;
    height: 70%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}
.signIn{
    background-color: var(--color-yellow);
}
.signUp{
    background-color: var(--color-orange-dark);
}
    /* fuentes de las letras y tamaños del login*/
.login div > *{
    width: 60%;
    font-size: 18px;
    font-family: var(--font-words);
}
.login div h1{
    font-size: 40px;
    font-family: var(--font-title);
    text-align: center;
    color: var(--color-purple-light);
}
.login div p{
    text-align: center;
    font-family: var(--font-words);
    color: var(--color-gray);
}
.login input{
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    height: 35px;
    padding-left: 8px;
}
.login button{
    border-radius: 5px;
    border: none;
    color: var(--color-white);
    height: 52px;
    transition: 0.5s;
}
.login button:hover{
    transform: scale(0.95) ;
}
.signIn button{
    background-color: var(--color-orange-dark);
}
.signUp button{
    background-color: var(--color-orange-light);
}
.login .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login .links a{
    width: auto;
    text-decoration: none;
    transition: 1s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: var(--color-gray);
}
.login .links a:hover{
    background-size: 100% 2px;
}
.login .links .colorDif{
    color: var(--color-purple-light);
}
/* Configuración header */
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    background: var(--color-purple-light);
}

.title_proyect{
    font-family: var(--font-title);
    color: var(--color-yellow);
}
header nav{
    display: flex;
}
header nav div{
    display: flex;
    align-items: center;
}

header nav a{
    color: var(--color-white);
    padding: 0px 20px;
    text-decoration: none;
    font-family: var(--font-words);
    font-size: 18px;
}
header nav div:hover{
    background: var(--color-yellow);
}
.position{
    background-color: var(--color-yellow);
}
.position a:hover{
    color: var(--color-purple-light)
}
/* section */
section{
    display: flex;
    height: calc(100vh - 49px);
    width: 100%;
}

/* Section home*/
.colorHome{
    background: var(--color-orange-light);
}
/* configuración general main */
main{
    background-color: var(--color-white);
    width: 60%;
    margin:auto;
    border-radius: 7px;
    padding: 10px 0;
}
main .title{
    font-size: 70px;
    text-align: center;
    font-family: sensei;
    letter-spacing: 20px;
    color: var(--color-gray)
}
main .list{
    height: 60vh;
    overflow-y: auto;
}
main .list::-webkit-scrollbar{
    width: 10px;
}
main .list::-webkit-scrollbar-track{
    background: var(--color-purple-light);
}
main .list::-webkit-scrollbar-thumb{
    background: var(--color-purple-dark);
    border-radius: 5px;
}
main .list .item{
    width: 90%;
    margin:auto;
    margin-bottom: 10px;
    border-radius: 12px;
    display:grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px ;
    padding: 10px 10px;
}

.complete{
    border: 3px solid var(--color-green);
}
.incomplete{
    border: 1px solid var(--color-gray)
}
main .list .item h1{
    font-family: var(--font-words);
    color: var(--color-gray);
    grid-row: 1/-1;
    grid-column: 1/2;
    align-self: center;
}
main .list .item img{
    visibility: hidden;
    transition: transform .5s;
    align-self: center;
}
main .list .item img:hover{
    transform: scale(0.9);
}
main .list .item:hover img{
    visibility: visible;
}
main .footer{
    display: flex;
    justify-content: flex-end;
    width: 98%;
    margin-top:10px;
}
.btn_add{
    background: var(--color-yellow);
    border-radius: 100%;
    transition: transform 1s;
}
.btn_add:hover{
    transform: scale(1.1);
}
/*formularios*/
form{
    width: 70%;
    height: 70vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--font-words);
}
label{
    font-size: 30px;
}
input{
    font-family: var(--font-words);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border:none;
}
input[type="text"]{
    width: 100%;
}
input[type="text"], input[type="date"]{
    color: var(--color-gray);
    background: white;
}
.Mform_date{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
}
.form_btns{
    display: flex;
    justify-content: space-around;
}
.form_btns input[type="button"]{
    width: 150px;
    transition: .5s;
}
.form_btns input[type="button"]:hover{
    width: 150px;
    transform: scale(0.95);
}
.form_btns .btn_create{
    background-color: var(--color-yellow);
    color: var(--color-black);
}
.form_btns .btn_cancel{
    background-color: var(--color-orange-dark);
    color: var(--color-white);
}

/* Section tareas */
.colorWork{
    background-color: var(--color-yellow);
}
#work .title{
    letter-spacing: 0px;
    font-size: 40px;
}
.work_description{
    padding: 0px 20px;
    margin-bottom:20px;
    font-size: 20px;
    font-family: var(--font-words);
}
.work_date_header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.work_date_item{
    font-family: sensei;
    color: var(--color-gray);
    font-size: 1em;
}

/*Alert title*/
.alertTitle{
    font-family: sensei;
}
.alertFontword{
    font-family: var(--font-words);
}

/*section CALENDARIO*/
#calendar{
    flex-direction: column;
}
.calendar {
    background: var(--color-white);
    width: 70%;
    min-width: 600px;
    margin: 1em auto;
    padding: .5em 0;
    font-family: var(--font-words);
}
.calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.3em;
    text-transform: uppercase;
}
.calendar__prev, .calendar__next {
    color: var(--color-purple-light);
    cursor: pointer;
    font-size: 1.3em;
}
.calendar__prev {
    margin-right: auto;
}
.calendar__next {
    margin-left: auto;
}
.calendar__prev, .calendar__next{
    transition: .5s;
}
.calendar__next:hover, .calendar__prev:hover{
    transform: scale(0.8);
}
.calendar__week{
    background: var(--color-yellow);
}
.calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px 10px;
}
.calendar__month, .calendar__year {
    padding: 1em 2em;
}
.calendar__item {
    text-align: center;
    line-height: 2;
}
.calendar__today, .calendar__day:hover{
    color: white;
    width: 32px;
    border-radius: 50%;
    justify-self: center;
}
.calendar__today {
    background: var(--color-orange-light);
}
.calendar__day:hover{
    background: var(--color-gray);
}
.calendar__last-days {
    opacity: .3;
}

/* graficas */
#statistics{
    background-color: var(--color-black);
}
#graphics{
    width: 80% !important;
    height: 80% !important;
    margin: auto;
}