:root{
    --color-white: #FFFFFF;
    --color-black: #0D0D0D;
    --color-yellow:#FFAF53;
    --color-orange-light:#E88554;
    --color-orange-dark: #E55D4A;
    --color-purple-light: #AB2F52;
    --color-purple-dark: #5E005E;
    --color-gray: #8190A5;
    --font-title:'Knewave', cursive;
    --font-words: 'Lato', sans-serif;
}
*{
    margin:0;
}
/* Configuración section */
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 900px;
    min-height: 400px;
}
.oculto{
    display: none;
}
section div:nth-child(1){
    width: 40%;
    height: 70%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}
.signIn{
    background-color: var(--color-yellow);
}
.signUp{
    background-color: var(--color-orange-dark);
}
/* Configuración tamaño y fuente de los elementos del div principal */
section div > *{
    width: 60%;
    font-size: 18px;
    font-family: var(--font-words);
}
/* Titulo */
section div h1{
    font-size: 40px;
    font-family: var(--font-title);
    text-align: center;
}
h1{
    color: var(--color-purple-light);
}

/* Parrafo */
section div p{
    text-align: center;
    font-family: var(--font-words);
    color: var(--color-gray);
}
/* inputs */
input{
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    width: 287px;
    height: 51px;
    padding-left: 8px;
}
/* Botones */
button{
    border-radius: 5px;
    border: none;
    color: var(--color-white);
    height: 52px;
    transition: 0.5s;
}
button:hover{
    transform: scale(0.95) ;
}
.signIn button{
    background-color: var(--color-orange-dark);
}
.signUp button{
    background-color: var(--color-orange-light);
}
/* configuración div de links */
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.links a{
    width: auto;
    text-decoration: none;
    transition: 1s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: var(--color-gray);
}
.links a:hover{
    background-size: 100% 2px;
}
.links .colorDif{
    color: var(--color-purple-light);
}

/* Configuración splash */
.splash{
    background: var(--color-orange-dark);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.splash .loader{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
    background: var(--color-yellow);
    border: 13px solid var(--color-orange-dark);
    border-top: 13px solid var(--color-orange-light);
    border-bottom: 13px solid var(--color-orange-light);
    border-right: 13px solid var(--color-orange-light);
    animation: spin 2s linear infinite;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.splash h1{
    font-size: 40px;
    font-family: var(--font-title);
    text-align: center;
    grid-row: 1/2;
    grid-column: 2/3 ;
    z-index: 1;
}
